.gifItem {
  padding: 10px;
  margin-bottom: 40px;
}

.gifItem .img-item {
  height: 100px;
  display: block;
  margin: auto;
}

.gifItem .fav-button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.gifItem .fav-button.is-fav i.anticon {
  color: red;
}
